{% load static widget_tweaks %}
<div class="container justify-content-center align-items-center">
    <div class="card bg-light">
        <article class="card-body mx-auto">
            {% include 'Blog/Login/login_non_form_error_block.html' %}
            <form method="post" action="{{ action }}">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <div class=" input-group">
                            {% include 'base_form_render_field.html' %}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block form-save-button">Create Account</button>
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </form>
        </article>
    </div>
</div>