{% load widget_tweaks %}

<div class="form-group row {% if field.errors %}has-error{% endif %} {% if field.is_hidden %}d-none{% endif %}">
    <label for="{{ field.id_for_label }}" class="{% if inline_form %}col-sm-2 col-form-label{% endif %}">
        {% if field.field.required %}
            <strong>{{ field.label }}*</strong>
        {% else %}
            {{ field.label }}
        {% endif %}
    </label>

    <div class="{% if inline_form %}col-sm-10{% endif %}">
        {% with field.field.widget.attrs.class as field_class %}
            {% if field.field.widget == 'DateInput' %}
                <div class="input-group date">
                    {% if field_class %}
                        {% render_field field class=field_class %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            {% elif field_class %}
                {% render_field field class=field_class %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}
        {% endwith %}
    </div>

    {% include 'base_field_error_block.html' %}
</div>
