{% load static hosts %}

<div class="post-comment-container" id="post-comment-container-{{ comment.id }}">
    <div class="post-comment">
        <img src="{% static 'images/default_image_user.png' %}" alt="user"
             class="profile-photo-md pull-left">
        <p class="post-comment-text"><a href="" class="profile-link">{{ comment.author.label }} </a>{{ comment.text|safe|escape }}</p>
    </div>
    <div class="float-sm-left">
        {% if user.is_authenticated %}
            <a class="btn btn-comment-like {% if comment.is_liked %} text-success {% endif %}"
               data-comment-id="{{ comment.id }}"><i class="fa fa-thumbs-up"></i>
            </a>
        {% endif %}
        {% if comment.is_author %}
            <a class="btn post-comment-delete-button" data-action-url="{% host_url 'api:comments-detail' comment.id host 'api' %}"><i class="fa fa-trash"></i></a>
            <a class="btn post-comment-edit-button" data-post-comment-id="{{ comment.id }}" data-action-url="{% host_url 'api:comments-detail' comment.id host 'api' %}"><i class="fa fa-pencil"></i></a>
        {% endif %}
    </div>
</div>