{% extends 'Blog/base.html' %}
{% load static hosts %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom" id="category-name"
                    data-category-get-by-slug-url="{% host_url 'api:categories-get-by-slug' host 'api' %}">
                    <!-- Category name -->
                </h3>
                <div id="posts-container"
                     data-posts-url="{% host_url 'api:posts-list' host 'api' %}"
                     data-posts-next-url=""
                     data-posts-render-url="{% url 'blog-render-posts' %}">
                    <!-- posts container -->
                </div>
            </div>

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">Search post</h4>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for posts..."
                           aria-label="Search" id="posts-search">
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Categories</h4>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for category.."
                           aria-label="Search" id="categories-search">
                    <a type="button" class="btn btn-light" id="clear-category" hidden="hidden">Clear category</a>
                    <ol class="list-unstyled mb-0" id="categories-container"
                        data-categories-url="{% host_url 'api:categories-list' host 'api' %}"
                        data-categories-render-url="{% url 'blog-render-categories' %}">
                        <!-- categories container -->
                    </ol>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Contacts</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>

                <button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top">
                    Get back to top
                </button>
            </aside>
        </div>
    </main>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/blog/posts-loader.js' %}"></script>
    <script src="{% static 'js/blog/categories-loader.js' %}"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
{% endblock %}