<h2>Info</h2>
<a type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#profileAddModal">Add post</a>
<hr>

<div id="account-posts">
    {% for x in '123456'|make_list %}
        <div class="blog-post">
            <h2 class="blog-post-title">Title</h2>
            <p>Text of the post</p>
            <button type="button" class="btn btn-outline-secondary">Edit post</button>
            <button type="button" class="btn btn-outline-secondary">View post</button>
        </div>
    {% endfor %}
</div>

<div class="modal fade" id="profileAddModal" tabindex="-1" role="dialog" aria-labelledby="profileAddModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Content
            </div>
        </div>
    </div>
</div>
