{% load hosts %}

<h2>Posts</h2>
<a type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#profileAddModal" >Add post</a>
<hr>

<div id="account-posts" data-posts-next-url=""
     data-account-posts-url="{% host_url 'api:profile-posts-list' host 'api' %}"
     data-account-posts-render-url="{% url 'blog-profile-posts' %}">
</div>

<div class="modal fade" id="profileAddModal" tabindex="-1" role="dialog" aria-hidden="true"
    data-form-url="{% url 'blog-profile-post-form' %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


<div class="modal fade" id="profileEditModal" tabindex="-1" role="dialog" aria-hidden="true"
    data-form-url="{% url 'blog-profile-post-form' %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>