<form class="form" action="{{ form.action_url }}" method="{{ form.method|default:'post' }}" id="registrationForm" novalidate>
    <div class="row">
        <div class="col">
            {% for field in form.body %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                            {% include 'base_form_render_field.html' %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <div class="col-xs-12">
                    <br>
                    <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-check"></i>
                        Save
                    </button>
                    <button class="btn btn-lg" type="reset"><i class="fa fa-repeat"></i> Reset</button>
                </div>
            </div>
        </div>
        <div class="col">
            {% for field in form.body %}
                {% if not forloop.counter0|divisibleby:2  %}
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                            {% include 'base_form_render_field.html' %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</form>
