{% extends 'Blog/base.html' %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                        <h4 class="fw-bolder mb-1">{{ post.category.label }}</h4>
                        <div class="text-muted fst-italic mb-2">Created {{ post.created_date }} by <a
                                href="#">{{ post.author.label }}</a></div>
                    </header>
                    <!-- Post content-->
                    <section class="mb-5">
                        {{ post.text|safe|escape }}
                    </section>
                    <a href="{% url 'blog-profile' %}">Back to profile</a>
                </article>
            </div>
        </div>
    </main>
{% endblock %}
