{% include 'Blog/base.html' %}
{% load filters static hosts %}

{% block body %}
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group" id="profile-data-container" data-profile-data-url="{% host_url 'api:profile' host 'api' %}">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    !{{ user.email }}!
                </ul>
            </div>
            <div class="col-sm-9">
                {% url_get_field request 'tab' as activated %}
                <ul class="nav nav-tabs">
                    <li class="nav-item "><a
                            class="nav-link {% if activated == 'posts' or activated == None %}active{% endif %}"
                            href="?{% url_replace request 'tab' 'posts' %}">Info</a></li>
                    <li class="nav-item"><a
                            class="nav-link {% if activated == 'edit' %}active{% endif %}"
                            href="?{% url_replace request 'tab' 'edit' %}">Edit Profile</a>
                    </li>
                    <li class="nav-item"><a
                            class="nav-link {% if activated == 'liked' %}active{% endif %}"
                            href="?{% url_replace request 'tab' 'liked' %}">Liked Posts</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane {% if activated == 'posts' or activated == None %}active{% endif %}">
                        {% include 'Blog/Account/profile_menu_posts.html' %}
                    </div>
                    <div class="tab-pane {% if activated == 'edit' %}active{% endif %}">
                        {% include 'Blog/Account/profile_menu_edit.html' %}
                    </div>
                    <div class="tab-pane {% if activated == 'liked' %}active{% endif %}">
                        {% include 'Blog/Account/profile_menu_liked.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
{#    <script src="{% static 'js/blog/account-profile-get-data.js' %}"></script>#}
{#    <script src="{% static 'js/blog/account-profile-edit-data.js' %}"></script>#}

    <script src="{% static 'js/blog/account-profile-posts-list.js' %}"></script>
{#    <script src="{% static 'js/blog/account-profile-posts-add.js' %}"></script>#}
{#    <script src="{% static 'js/blog/account-profile-posts-edit.js' %}"></script>#}
{#    <script src="{% static 'js/blog/account-profile-posts-delete.js' %}"></script>#}
{##}
{#    <script src="{% static 'js/blog/account-profile-liked-posts-list.js' %}"></script>#}
{% endblock %}