{% load widget_tweaks static %}


<form class="form" action="{{ form.action_url }}" method="{{ form.method|default:'post' }}" data-redirect-view="{% url 'blog-login' %}" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col">
            {% with field=form.body.password %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-append password-icon">
                            <span class="input-group-text"> <i class="fa fa-eye"></i> </span>
                        </div>
                        {% include 'base_form_render_field.html' %}
                    </div>
                </div>
            {% endwith %}
        </div>
        <div class="col">
            {% with field=form.body.repeat_password %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-append password-icon">
                            <span class="input-group-text"> <i class="fa fa-eye"></i> </span>
                        </div>
                        {% include 'base_form_render_field.html' %}
                    </div>
                </div>
            {% endwith %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <br>
            <button class="btn btn-lg btn-info reset-password" type="submit"><i class="fa fa-key"></i> Reset password
            </button>
        </div>
    </div>
</form>